#ignore script log files
*.sh.*
*.log
#ignore data files
*.faa*
*.fa
*.fas
*.fasta
*.bam
*.Rhistory
*.RData
*.raxml.bestTree
*.raxml.bestModel
*.raxml.bootstraps
*.raxml.log
*.raxml.mlTrees
*.raxml.rba
*.raxml.startTree
*.raxml.bestTreeCollapsed
*.raxml.reduced.partition
*.raxml.reduced.phy
*.tsv
#ignore data directories
data
results
scratch
#ignore plots
*.tiff
*.png
*.pdf
*.svg
